.input_group {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid #dedede;
  padding: 11px;
  border-radius: 5px;
  text-align: left;
}

label {
  color: #707070;
  font-size: 12px;
  line-height: 15.36px;
}

input {
  border: none;
  outline: none;
  background-color: white;
  color: #000000;
}

input::placeholder {
  color: #000000;
}
